@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
}


 @font-face  {
      font-family: 'librebaskerville';
      font-style: normal;
      font-weight: 400;
      src: url('/src/fonts/LibreBaskerville-Regular.ttf') format('truetype');
    }
 @font-face  {
      font-family: 'librebaskerville-italic';
      font-style: normal;
      font-weight: 400;
      src: url('/src/fonts/LibreBaskerville-Italic.ttf') format('truetype');
    }
     @font-face  {
      font-family: 'poppins';
      font-style: normal;
      font-weight: 400;
      src: url('/src/fonts/Poppins-Regular.ttf') format('truetype');
    }